* {
	margin: 0;
	padding: 0;
	font-family: 'Rubik', sans-serif;
}
.main {
	width: 100%;
	height: 100vh;
	display: flex;
	overflow: hidden;
}

.left-col {
	flex-basis: 57%;
	background: rgb(252, 216, 161);
	position: relative;
}
.right-col {
	flex-basis: 55%;
	background: #ff7878;
	position: relative;
}
.logo {
	width: 80px;
	margin: 30px 80px;
}
.content-box {
	width: 290px;
	position: absolute;
	top: 170px;
	left: 80px;
}
.rating {
	width: 90px;
}
.content-box a {
	text-decoration: none;
}
.content-box h1 {
	font-size: 28px;
	margin: 15px 0 30px;
	color: white;
}
.content-box p {
	font-size: 15px;
	color: white;
	line-height: 15px;
	margin-bottom: 60px;
}

.content-box button {
	background: #ff7878;
	color: #fff;
	display: flex;
	align-items: center;
	border: 0;
	outline: none;
	border-radius: 16px;
	padding: 13px 25px;
	cursor: pointer;
}
.content-box button img {
	width: 25px;
	margin-left: 20px;
}

.content-box input::placeholder {
	color: gray;
	font-size: 10px;
}
.left-arrow {
	width: 65px;
	position: absolute;
	bottom: 0;
	right: 20px;
}
.navbar {
	width: 80%;
	margin: 40px auto;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.search-box {
	display: flex;
	align-items: center;
	background: rgba(255, 255, 255, 0.3);
	padding: 7px 15px;
	border-radius: 20px;
}
.search-box input {
	background: transparent;
	border: 0;
	outline: none;
	color: white;
}
.search-box input::placeholder {
	color: white;
	font-size: 11px;
}
.search-box img {
	width: 13px;
	margin-left: 20px;
}
.navbar ul {
	display: flex;
}

.navbar ul li {
	list-style: none;
	margin-left: 50px;
}
.navbar ul li a {
	color: #fff;
	text-decoration: none;
	font-size: 14px;
	display: flex;
	align-items: center;
}
.navbar ul li img {
	width: 15px;
	margin-right: 15px;
}

.more-items {
	width: 220px;
	display: block;
	position: absolute;
	bottom: -75px;
	right: 100px;
}

.more-items img {
	width: 250px;
	margin: 90px 0;
	margin-bottom: 40px;
	cursor: pointer;
}

.right-arrow {
	width: 65px;
	position: absolute;
	bottom: 0;
	left: 20px;
}
.main-img {
	width: 450px;
	position: absolute;
	top: 50%;
	left: 52%;
	transform: translate(-50%, -45%);
}
.form-wrap {
	box-sizing: border-box;
	position: absolute;
	display: inline-block;
	right: 29px;
	top: 69px;
	left: 25px;
}

#form-button {
	background: #ff7878;
	color: white;
	height: 30px;
	width: 154px;
	border-radius: 4px;
	cursor: pointer;
}

.content-box1 {
	width: 340px;
	height: 270px;
	position: absolute;
	top: 270px;
	left: 80px;
	background-color: #ff7878;
	border-radius: 20px;
	text-align: center;
	display: inline-block;
}

.content-box1 a {
	text-decoration: none;
}
.content-box1 h1 {
	font-size: 28px;
	margin: 15px 0 30px;
	color: white;
}
.content-box1 p {
	font-size: 15px;
	color: white;
	line-height: 15px;
	margin-bottom: 60px;
}

.content-box1 button {
	background: #ff7878;
	color: #fff;
	display: flex;
	align-items: center;
	border: 0;
	outline: none;
	border-radius: 16px;
	padding: 13px 25px;
	cursor: pointer;
}
.content-box1 button img {
	width: 25px;
	margin-left: 20px;
}

.content-box1 input::placeholder {
	color: gray;
	font-size: 10px;
}
